* {
     margin: 0;
     padding: 0;
     font-size: 1.5rem;
}

.menu-navegacion {
     display: flex;
     justify-content: space-around;
     background-color: #165500;
}

.logo-escuela {
     width: 300px;
}

.items-menu {
     display: flex;
     justify-content: space-around;
     gap: 15px;
}

.items-menu li {
     list-style: none;
}

.items-menu li a {
     text-decoration: none;
     color: #000;
}

.items-menu li a:hover{
     color: #fff;
}